@using Microsoft.EntityFrameworkCore.Storage
@model AdminLeaveRequestViewVM

@{
    ViewData["Title"] = "Index";
}

<div class="row">
    <div class="col-lg-3 col-md-6">
        <div class="info-box">
            <span class="info-box-icon bg-info"><i class="fas fa-exclamation-circle"></i></span>

            <div class="info-box-content">
                <span class="info-box-text">@Model.TotalRequests</span>
                <span class="info-box-number">@Html.DisplayNameFor(model => model.TotalRequests)</span>
            </div>
            <!-- /.info-box-content -->
        </div>
    </div>
    <div class="col-lg-3 col-md-6">
        <div class="info-box">
            <span class="info-box-icon bg-warning"><i class="fas fa-envelope"></i></span>

            <div class="info-box-content">
                <span class="info-box-text">@Model.PendingRequests</span>
                <span class="info-box-number">@Html.DisplayNameFor(model => model.PendingRequests)</span>
            </div>
            <!-- /.info-box-content -->
        </div>
    </div>
    <div class="col-lg-3 col-md-6">
        <div class="info-box">
            <span class="info-box-icon bg-success"><i class="fas fa-check-circle"></i></span>

            <div class="info-box-content">
                <span class="info-box-text">@Model.ApprovedRequests</span>
                <span class="info-box-number">@Html.DisplayNameFor(model => model.ApprovedRequests)</span>
            </div>
            <!-- /.info-box-content -->
        </div>
    </div>
    <div class="col-lg-3 col-md-6">
        <div class="info-box">
            <span class="info-box-icon bg-danger"><i class="far fa-times-circle"></i></span>

            <div class="info-box-content">
                <span class="info-box-text">@Model.RejectedRequests</span>
                <span class="info-box-number">@Html.DisplayNameFor(model => model.RejectedRequests)</span>
            </div>
            <!-- /.info-box-content -->
        </div>
    </div>
</div>

<br/>
<br/>


<h2>Leave Request Log</h2>

<hr />

<table id="tableData" class="table">
    <thead>
        <tr>
            <th>
                Employee Name
            </th>
            <th>
                Start Date
            </th>
            <th>
                End Date
            </th>
            <th>
                Leave Type
            </th>
            <th>
                Date Requested
            </th>
            <th>
                Approved
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.LeaveRequests) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.RequestingEmployee.Lastname) @Html.DisplayFor(modelItem => item.RequestingEmployee.Firstname)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StartDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EndDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LeaveType.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateRequested)
            </td>
            <td>
                @if (item.Approved == true)
                {
                    <span class="badge badge-success">Approved</span>
                }
                else if (item.Approved == false)
                {
                    <span class="badge badge-danger">Rejected</span>
                }
                else
                {
                    <span class="badge badge-warning">Pending Approval</span>
                }
            </td>
            <td>
                <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-outline-primary">
                    <i class="fas fa-file"></i>Review
                </a>
            </td>
        </tr>
}
    </tbody>
</table>
